*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body{
  height: 100%;
  width: 100%;
}


.card{
  background-color: rgb(202, 55, 11);
  color: rgb(15, 15, 15);
  border-radius: 20px;
  margin: 20px;
  padding: 15px;
  text-align: center;
  border: 2px solid rgb(17, 0, 255);
}

.nav{
  background-color: black;
  color: beige;
  padding: 5px;
  margin: 10px;
}

nav ul li{
  list-style: none;
  display: flex;
  
}
