* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}

h1{
  padding: 20px;
  background-color: grey;
  width: fit-content;
  margin: 20px;
  padding: 15px 70px;
  font-size: 100px;
  border-radius: 10px;
}

button{
  border-radius: 5px;
  background-color: rgb(161, 160, 163);
  padding: 10px;
  margin: 5px 5px;
  margin-left: 10px;
}
