* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
  background-color: #111;
}

.parent{
  display: flex;
  gap: 20px;
  margin: 20px 20px;
  padding: 20px;
  flex-wrap: wrap;
}
.card{
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid white;
  text-align: center;
  background-color: #222;
}

.card img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.card button{
  padding: 10px 20px;
  color: black;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 5px;
  border: none;
}
.card button:hover{
  background-color: #ddd;
  cursor: pointer;
}

.card p{
  margin: 10px 0;
}